/* Import the Angular Material theme */
@import './app/sequence-diagram/svg-styles.css';
@import '@angular/material/prebuilt-themes/rose-red.css';
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; /* Prevent scrolling */
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}