.dark {
  --md-sys-color-primary: rgb(255 180 172);
  --md-sys-color-surface-tint: rgb(255 180 172);
  --md-sys-color-on-primary: rgb(86 30 26);
  --md-sys-color-primary-container: rgb(115 51 46);
  --md-sys-color-on-primary-container: rgb(255 218 214);
  --md-sys-color-secondary: rgb(190 194 255);
  --md-sys-color-on-secondary: rgb(38 43 97);
  --md-sys-color-secondary-container: rgb(61 66 121);
  --md-sys-color-on-secondary-container: rgb(224 224 255);
  --md-sys-color-tertiary: rgb(234 193 108);
  --md-sys-color-on-tertiary: rgb(64 45 0);
  --md-sys-color-tertiary-container: rgb(92 67 0);
  --md-sys-color-on-tertiary-container: rgb(255 222 161);
  --md-sys-color-error: rgb(255 180 171);
  --md-sys-color-on-error: rgb(105 0 5);
  --md-sys-color-error-container: rgb(147 0 10);
  --md-sys-color-on-error-container: rgb(255 218 214);
  --md-sys-color-background: rgb(26 17 16);
  --md-sys-color-on-background: rgb(241 222 220);
  --md-sys-color-surface: rgb(20 18 24);
  --md-sys-color-on-surface: rgb(230 224 232);
  --md-sys-color-surface-variant: rgb(83 67 66);
  --md-sys-color-on-surface-variant: rgb(216 194 191);
  --md-sys-color-outline: rgb(160 140 138);
  --md-sys-color-outline-variant: rgb(83 67 66);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(230 224 232);
  --md-sys-color-inverse-on-surface: rgb(50 47 53);
  --md-sys-color-inverse-primary: rgb(144 74 68);
  --md-sys-color-primary-fixed: rgb(255 218 214);
  --md-sys-color-on-primary-fixed: rgb(59 9 7);
  --md-sys-color-primary-fixed-dim: rgb(255 180 172);
  --md-sys-color-on-primary-fixed-variant: rgb(115 51 46);
  --md-sys-color-secondary-fixed: rgb(224 224 255);
  --md-sys-color-on-secondary-fixed: rgb(16 20 75);
  --md-sys-color-secondary-fixed-dim: rgb(190 194 255);
  --md-sys-color-on-secondary-fixed-variant: rgb(61 66 121);
  --md-sys-color-tertiary-fixed: rgb(255 222 161);
  --md-sys-color-on-tertiary-fixed: rgb(38 25 0);
  --md-sys-color-tertiary-fixed-dim: rgb(234 193 108);
  --md-sys-color-on-tertiary-fixed-variant: rgb(92 67 0);
  --md-sys-color-surface-dim: rgb(20 18 24);
  --md-sys-color-surface-bright: rgb(59 56 62);
  --md-sys-color-surface-container-lowest: rgb(15 13 19);
  --md-sys-color-surface-container-low: rgb(29 27 32);
  --md-sys-color-surface-container: rgb(33 31 36);
  --md-sys-color-surface-container-high: rgb(43 41 47);
  --md-sys-color-surface-container-highest: rgb(54 52 58);
}
