.light {
  --md-sys-color-primary: rgb(144 74 68);
  --md-sys-color-surface-tint: rgb(144 74 68);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(255 218 214);
  --md-sys-color-on-primary-container: rgb(59 9 7);
  --md-sys-color-secondary: rgb(85 90 146);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(224 224 255);
  --md-sys-color-on-secondary-container: rgb(16 20 75);
  --md-sys-color-tertiary: rgb(120 89 12);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(255 222 161);
  --md-sys-color-on-tertiary-container: rgb(38 25 0);
  --md-sys-color-error: rgb(186 26 26);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(255 218 214);
  --md-sys-color-on-error-container: rgb(65 0 2);
  --md-sys-color-background: rgb(255 248 247);
  --md-sys-color-on-background: rgb(35 25 24);
  --md-sys-color-surface: rgb(254 247 255);
  --md-sys-color-on-surface: rgb(29 27 32);
  --md-sys-color-surface-variant: rgb(245 221 219);
  --md-sys-color-on-surface-variant: rgb(83 67 66);
  --md-sys-color-outline: rgb(133 115 113);
  --md-sys-color-outline-variant: rgb(216 194 191);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(50 47 53);
  --md-sys-color-inverse-on-surface: rgb(245 239 247);
  --md-sys-color-inverse-primary: rgb(255 180 172);
  --md-sys-color-primary-fixed: rgb(255 218 214);
  --md-sys-color-on-primary-fixed: rgb(59 9 7);
  --md-sys-color-primary-fixed-dim: rgb(255 180 172);
  --md-sys-color-on-primary-fixed-variant: rgb(115 51 46);
  --md-sys-color-secondary-fixed: rgb(224 224 255);
  --md-sys-color-on-secondary-fixed: rgb(16 20 75);
  --md-sys-color-secondary-fixed-dim: rgb(190 194 255);
  --md-sys-color-on-secondary-fixed-variant: rgb(61 66 121);
  --md-sys-color-tertiary-fixed: rgb(255 222 161);
  --md-sys-color-on-tertiary-fixed: rgb(38 25 0);
  --md-sys-color-tertiary-fixed-dim: rgb(234 193 108);
  --md-sys-color-on-tertiary-fixed-variant: rgb(92 67 0);
  --md-sys-color-surface-dim: rgb(222 216 224);
  --md-sys-color-surface-bright: rgb(254 247 255);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(248 241 250);
  --md-sys-color-surface-container: rgb(242 236 244);
  --md-sys-color-surface-container-high: rgb(236 230 238);
  --md-sys-color-surface-container-highest: rgb(230 224 232);
}
