# Log files
./logs
*.txt
*.log
*.json

# Byte-compiled / optimized / DLL files
__pycache__/*
*.py[cod]
*$py.class
*.pyc

# Flask
.idea/
.vscode/
.venv*/
venv*/
dist/
.coverage*
htmlcov/
.tox/
docs/_build/
!requirements.txt