<p>sequence-diagram works!</p>

<div class="diagram">
    <div class="party">
        <div class="partyName">LegA</div>
        <div class="lifeline"></div>
    </div>
    <div class="arrow">Hi</div>
    <div class="party">
        <div class="partyName">LegA</div>
        <div class="lifeline"></div>
    </div>
    <div class="arrow">Hi</div>
    <div class="party">
        <div class="partyName">LegA</div>
        <div class="lifeline"></div>
    </div>
    
    <div class="arrow">Hi</div><div class="arrow">Hi</div><div class="arrow">Hi</div>
</div>