<!-- <p>flow-chart works!</p> -->
<div class="section-content">
    <p>Left section content...</p>
    <div>
      <p *ngFor="let i of [].constructor(50); let idx = index">Line {{ idx + 1 + "--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------"}}</p>
    </div>
</div>
    