mat-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1001; /* Ensure it stays above other content */
}

.spacer {
  flex: 1 1 auto;
}

.logo {
  height: 40px; /* Adjust the height as needed */
  margin-right: 16px; /* Space between the logo and the title */
}

.app-content {
  height: 100%;
  width: 100%;
}

button {
  margin-left: 5px;
}

.portal-extractor-btn {
  min-width: 147.3px;
}
