<mat-toolbar>
  <mat-toolbar-row>
    <img src="gintel-logo-main.svg" alt="Logo" class="logo" />
    <span>
      <strong> SIP Viewer </strong>
    </span>
    <span class="spacer"></span>
    <!-- <app-file-upload></app-file-upload> -->
    <button mat-flat-button color="primary" (click)="navigate()">
      {{ buttonText }}
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<!-- <div class="app-content"><router-outlet></router-outlet></div> -->

<!-- Temporary: For testing connection with Flask API -->
<div class="app-content">
  <input type="file" (change)="onFileSelected($event)" />
  <button (click)="uploadFile()">Upload File</button>
  <br />
  <!-- <button (click)="processFile()">Process File</button>
  <br /> -->
  <button (click)="downloadFile()">Download File</button>
  <form
    [formGroup]="simpleForm"
    (ngSubmit)="onSubmit()"
    class="form-field-container"
  >
    <div class="form-field">
      <mat-form-field>
        <mat-label>SessionID</mat-label>
        <input matInput formControlName="sessionID" />
      </mat-form-field>
    </div>
    <div class="form-field">
      <mat-form-field>
        <mat-label>To</mat-label>
        <input matInput formControlName="to" />
      </mat-form-field>
    </div>
    <div class="form-field">
      <mat-form-field>
        <mat-label>from</mat-label>
        <input matInput formControlName="from" />
      </mat-form-field>
    </div>
    <div class="form-field">
      <mat-form-field>
        <mat-label>StartTime</mat-label>
        <input matInput formControlName="startTime" />
      </mat-form-field>
    </div>
    <div class="form-field">
      <mat-form-field>
        <mat-label>EndTime </mat-label>
        <input matInput formControlName="endTime" />
      </mat-form-field>
    </div>

    <button mat-raised-button color="primary" type="submit">Submit</button>
  </form>
</div>
