<!-- Temporary: For testing connection with Flask API -->
<!-- <div>
  <h1>{{ title }}</h1>
  <input type="text" #inputString placeholder="Enter string to store" />
  <button (click)="storeString(inputString.value)">Store String</button>
  <button (click)="getString()">Get Stored String</button>
  <p>Stored String: {{ storedString }}</p>
</div> -->

<mat-toolbar>
  <mat-toolbar-row>
    <img src="gintel-logo-main.svg" alt="Logo" class="logo" />
    <span>
      <strong> SIP Viewer </strong>
    </span>
    <span class="spacer"></span>
    <!-- <app-file-upload></app-file-upload> -->
    <button mat-flat-button color="primary" (click)="navigate()">
      {{ buttonText }}
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<div class="app-content"><router-outlet></router-outlet></div>
