<div class="portal-container">
  <div class="portal-grid-wrapper">
    <div class="portal-grid-container">
      <div class="portal-grid-item">
        <div class="file-upload-container">
          <div
            class="file-upload-content"
            (dragover)="onDragOver($event)"
            (drop)="onDrop($event)"
            (dragleave)="onDragLeave($event)"
            (click)="fileInput.click()"
          >
            <input
              type="file"
              (change)="onFileSelected($event)"
              hidden
              #fileInput
              multiple
            />
            <p>Drag and drop files here, or click to select files</p>
            <button
              mat-raised-button
              color="primary"
              (click)="fileInput.click()"
            >
              Upload LogFile
            </button>
          </div>
          <div class="file-list">
            <div class="file-item" *ngFor="let file of files; let i = index">
              <span>{{ file.name }}</span>
              <button class="remove-button" (click)="removeFile(i)">X</button>
            </div>
          </div>
        </div>
      </div>
      <div class="portal-grid-item">
        <form
          [formGroup]="simpleForm"
          (ngSubmit)="onSubmit()"
          class="form-field-container"
        >
          <h5>Extraction Filters:</h5>
          <div class="form-field">
            <mat-form-field class="form-field-child">
              <mat-label>SessionIDs</mat-label>
              <input matInput formControlName="sessionIDs" />
            </mat-form-field>
          </div>
          <div class="form-field">
            <mat-form-field class="form-field-child">
              <mat-label>To</mat-label>
              <input matInput formControlName="sipTo" />
            </mat-form-field>
          </div>
          <div class="form-field">
            <mat-form-field class="form-field-child">
              <mat-label>From</mat-label>
              <input matInput formControlName="sipFrom" />
            </mat-form-field>
          </div>
          <div class="form-field">
            <mat-form-field class="form-field-child">
              <mat-label>StartTime</mat-label>
              <input matInput formControlName="startTime" />
            </mat-form-field>
          </div>
          <div class="form-field">
            <mat-form-field class="form-field-child">
              <mat-label>EndTime </mat-label>
              <input matInput formControlName="endTime" />
            </mat-form-field>
          </div>

          <button
            mat-flat-button
            color="primary"
            type="submit"
            class="form-submit-btn form-field"
          >
            Extract from file(s)
          </button>
        </form>
      </div>
      <div class="portal-grid-item full-width extracted-container">
        <h5>Extracted logs in JSON</h5>
        <div class="file-list">
          <div class="file-item" *ngFor="let file of jsonFiles; let i = index">
            <span>{{ file.name }}</span>
            <button class="remove-button" (click)="removeJsonFile(i)">X</button>
          </div>
        </div>
        <button
          mat-flat-button
          class="portal-import-btn"
          (click)="readJsonFiles()"
        >
          Import to SIP Viewer
        </button>
        <!-- Can be used for testing if includesInvite check works 
         <button mat-raised-button (click)="readJsonFilesButNoMove()">
          Load json
        </button>
        <span>{{ testPrint }}</span> -->
      </div>
    </div>
  </div>
</div>
