<!-- <p>message-detail works!</p> -->
<div class="section-content">
    <p>Bottom right section content...</p>
    <div>
      <p *ngFor="let i of [].constructor(50); let idx = index">Line {{ idx + 1 + "--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------"}}</p>
    </div>
</div>
  
  