mat-toolbar {
  position: sticky;
  top: 0;
}

.main-packet-toolbar-row {
  height: 2.5em;
}

.second-packet-toolbar-row {
  font-size: medium;
  font-weight: bold;
  height: 2em;
}

ul {
  padding: 0;
  text-indent: 2.5em;
}

#packetDetailSpan {
  position: absolute;
}

.spacer {
  flex: 1 1 auto;
}

button {
  margin-left: 10px;
}

.list-item {
  font-size: 18px;
  font-family: monospace;
  list-style-type: none;
  min-height: 1em;
}

.message-detail-wrapper {
  display: flex;
  flex-direction: column;
}

.content {
  overflow: auto;
  width: 100%;
}

:root {
  height: 100%;
}

.highlighted-row {
  background-color: #d9c8c8;
}
