/* .heading2 {
  font-size: 24px;
  color: #1caf5e;
  font-family: Arial, sans-serif;
} */

/* .list-item {
  font-size: 18px;
  color: #3750df;
  font-family: monospace;
} */

/* table {
  width: 100%;
} */

.table-container {
  position: relative;
}

.toolbar {
  position: sticky;
  top: 0;
}

.spacer {
  flex: 1 1 auto;
}

.filter-bar {
  position: sticky;
  background-color: inherit;
  display: block;
}

.filter-bar input:focus {
  color: white; /* Text color */
  outline-color: #ca2f2c; /* Outline */
  caret-color: white; /* Cursor color */
}

.filter-bar.mat-focused .mat-form-field-label {
  color: #ca2f2c !important;
}

.filter-bar.mat-focused .mat-form-field-underline::after {
  background-color: #ca2f2c !important; /* Change underline color when focused */
}

/* .mat-table {
  background-color: inherit;
} */

.table-header {
  position: sticky;
}

.mat-row .mat-cell {
  background-color: #1caf5e;
  /* border-bottom: 1px solid transparent; */
  /* border-top: 1px solid transparent; */
  cursor: pointer;
}

.mat-row:hover .mat-cell {
  border-color: currentColor;
}

.demo-row-is-clicked {
  font-weight: bold;
}

.mat-header-row {
  position: sticky;
  /* top: 56px; */
  /* background: black; */
  /* z-index: 100; */
}

.mat-header-cell {
  background: white;
  /* z-index: 50; */
}
