.table-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
}

.toolbar {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 150;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.spacer {
  flex: 1;
}

mat-checkbox {
  margin-right: 20px;
}

.filter-bar input:focus {
  color: black; /* Text color */
  caret-color: black; /* Cursor color */
}

.table-header {
  position: sticky;
  top: 64px;
  z-index: 100;
  overflow-x: auto;
}

.column-max-width {
  max-width: 20em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.selected {
  background-color: #f3dde1; /* Example color, change as needed */
}
